.main {
    height: 105vh;
    width: 100%;
    /* background-color: yellow; */
    border-bottom: 2px solid rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_top {
    height: 60vh;
    width: 70vw;
    /* background-color: aqua; */
    border-top: 2px solid rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/dogs2.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.main_top-title {
    background-color: #fff;
    color: #3a789e;
    font-size: 2.8vw;
    width: fit-content;
    padding-right: 2vw;
    margin-bottom: 1vh;
}
.main_top-p {
    background-color: #fff;
    color: #3a789e;
    width: fit-content;
    padding-right: 3vw;
    font-size: 2vw;
    margin-top: 4%;
}
.main_bottom {
    height: 45vh;
    width: 70vw;
    /* background-color: purple; */
    border-top: 2px solid rgba(255,255,255,1);
    display: flex;
    justify-content: space-between;
}
.main_bottom-title1,.main_bottom-title2,.main_bottom-title3 {
    height: 85%;
    width: 32%;
    margin-top: 3vh;
}
.main_bottom-title1 {
    background-color: #3a789e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_title1-p1 {
    color: #fff;
    font-size: 1.8vw;
    padding-top: 3vh;
}
.main_title1-p2 {
    color: #fff;
    font-size: 3vw;
    margin-bottom: 1vh;
}
.main_title1-bttn {
    color: #3a789e;
    width: 92%;
    height: 15%;
    margin-top: 4vh;
}
.main_bottom-title2 {
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_title2-p1 {
    color: #3a789e;
    font-size: 2vw;
    padding-top: 3vh;
}
.main_title2-p2 {
    color: #3a789e;
    font-weight: 100;
    font-size: 2vw;
    width: 75%;
}
#main_title2-bttn {
    margin-top: 6vh;
}
button {
    background-color: #fff;
    border: 0;
}
button:hover {
    cursor: pointer;
    color: #77bd4b;
}
.main_bottom-title3 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_title3-p1 {
    color: #3a789e;
    font-weight: 900;
    font-size: 4.5vw;
    padding-top: 5vh;
}
.main_title3-p2 {
    color: #77bd4b;
}
.main_title3-p3 {
    color: #3a789e;
    font-weight: 400;
    font-size: 2.5vw;
    padding-top: 1vh;
}
